.page-dash{
    width: 100%;
    margin-top: 5%;
}
.main-dash{
    width: 75%;
    margin-left: 5%;
    margin-right: 5%;
}

.left-side-dash{
  width: 25%;
  margin-left: 3%;
}

#userinfo{
    background-color: rgb(43, 37, 37);
    width: 100%;
    padding: 6%;
    color: white;
}

.info-pic{
    width: 96%;
    margin: 2%;
    padding-bottom: 4%;
    border-bottom: white 1.5px solid;
}

#username{
    margin: 2%;
    margin-top: 3%;
    border-bottom: white 1.5px solid;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

h1{
    margin-bottom: 2%;
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 3px;
}

.buying-list-row{
    border-bottom: grey 2px solid; 
    padding: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
}

#dash-list{

    margin: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.buying-list-item{
    border-bottom: grey 1px solid; 
    padding-bottom: 1%;
    margin-top: 1%;
    text-align: center;
}

.list-btn{
    width: 16%;
}

.list-btn2{
    width: 13%; 
    margin: 0%;
}

.list-btn3{
    width: 13%;
}

.btn-remove{
    border: 0px;
    width: 40%;
    background-color: tomato;
    color: white;
    text-align: center;
}

.btn-ok{
    border: 2px solid  rgb(2, 212, 19);
    width: 40%;
    background-color: white;
    color: rgb(2, 212, 19);
    text-align: center;
    font-weight: 500;
}

.btn-ok:hover{
    background-color: rgb(2, 212, 19);
    color: white;
}

.time, .money, .pay-way, .item-state{
    width: 16%;
}

.time2, .money2, .pay-way2, .item-state2{
    width: 15%;
}

h5{
    font-size: 16px;
}

ht{
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    color: grey;
}

#saller, #buyer{
    display: none;
}