.page-forum{
    margin: 5%;
    margin-left: 3%;
    margin-top: 0%;
}

.left-side-forum{
    width: 20%;
    height: 100%;
    margin: 10px;
}

.main-forum{
    width: 85%;
    margin-left: 25%;
    margin-top: 15%;
}
.forum-tit{
    margin: 2%;
    margin-right: 5%;
    padding-top: 5%;
    text-align: center;
    font-size: 32px;
    letter-spacing: 5px;
}

.postid{
    font-size: 18px;
    padding-bottom: 8px;

    margin-bottom: 15px;
    border-bottom: gray 1.5px solid;
}

.post-badge{
    padding: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 8%;
}

#post-set, #banner_set{
   display: none;
}

.style-post{
    margin: 2%;
}

#StyleControlSelect1{
    width: 30%;
}

.style-post-btn{
    margin-left: 2%;
}

.ctlg2{
    border: white 2px solid;
    border-radius:10px;
    background-color: rgb(43, 37, 37);
    margin-left: 3%;
    width: 15%;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    position:fixed;
    color: white;
  }

#post_list{
    padding-bottom: 5%;
}