#banner{
    text-align: center;
}

.indexcoverimg{
    width: 100%;
    opacity: 1;
}

.shopinf{
    width: 100%;
    background-color:rgb(43, 37, 37);
    text-align: center;
    margin: 0px;
    padding-top: 3%;
    padding-bottom: 4%;
}



.intros{
    background-color: rgb(70, 65, 65);
    text-align: center;
}

wlc{
    color: white;
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 0.8rem;
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
      padding-left: 60%;
      width: 300%;
    }
  
    to {
      padding-left: 0%;
      width: 100%;
    }
}

@media(max-width:980px){
    wlc {
        font-size: 1.5rem;
    }
}

intr{
    color: white;
    font-size: 1.5rem;
    font-weight: 200;
    letter-spacing: 0.2rem;
}

#indexpic{
    background-image: url('../img/indexcover4.jpg');
    height: 600px;
}

#goshop{
  width: 100%;
  height: 600px;
  padding-top: 300px;
  background-color: rgba(255, 255, 255, 0.411);
  display: none;
  
}

d{
  color: white;
  font-size: 32px;
  letter-spacing: 20px;
  font-weight: 600;
  background-color: rgb(77, 77, 77);
  padding: 3%;
}

#indexpic:hover #goshop{
    display: block;
}