#account{
  margin-right: 15px;
  margin-top: 17px;
  color: white;
  font-size: 20px;
}

#car{
  min-width: 70px;
  margin-left: 8px;
  margin-right: 15px;
  color: white;
  font-size: 19px;
  display: none;
}

#account:hover, #car:hover{
  color: rgb(248, 246, 143);
}

.navbar{
  background-color: rgb(43, 37, 37);
  color: white;
}

.navbar-brand{
  margin-left: 30px; 
  font-size: 40px;
  color: pink
}

#wn:hover{
  color: white;
  font-size: 42px;
}

.navchoice{
  margin-left: 5%; 
  display: block;
  font-size: 1.5rem;
  color: white;
}

.here{
  border: 0px;
  color:rgb(255, 208, 121);
  background-color: rgba(255, 255, 255, 0);
  letter-spacing: 1.5px;
}

.choicebtn{
  border: 0px;
  color: white;
  background-color: rgba(255, 255, 255, 0);
  letter-spacing: 1.5px;
}

.choicebtn:hover, .here:hover{
  color: skyblue;
}

.form-inline{
  margin-top: 1%;
}

.page{
  width: 92%;
  margin: 5%;
  margin-top: 0%;
  margin-left: 3%;
}

.main{
  width: 86%;
  margin: 10px;
  margin-top: 10%;
}

.item{
  width: 83%;
  margin: 0px;
  padding: 0px;
  background-color: pink;
}

.coverimg{
  width: 80%;
  margin: 1%;
  margin-top: 0%;
}

.classname{
  width: 100%;
  margin: 2%;
  font-size: 24px;
  text-align: center;
}

.good{
  width: 23%;
  margin: 1%;
  margin-bottom: 3%;
  min-width: 180px;
}

.goodimg{
  width: 98%;
  margin: 1%;
}

.good:hover{
  background-color: rgba(0, 0, 0, 0.459);
  color: white;
}

.goodinf{
  width: 98%;
}

.goodtit{
  margin: 5%;
  font-size: 16px;
}

.goodpri{
  margin: 5%;
  font-size: 16px;
}

.left-side{
  width: 15%;
  height: 100%;
  margin: 9px;
  margin-right: 0px;
}

.ctlg{
  border: white 2px solid;
  border-radius:10px;
  background-color: rgb(43, 37, 37);
  width: 13%;
  min-width: 125px;
  padding: 1%;
  padding-left: 2%;
  padding-right: 2%;
  margin-top: 17%;
  position:fixed;
  color: white;
}

.filtertit{
  text-align: center;
  margin-top: 2%;
  margin-bottom: 10%;
  padding-bottom: 6%;
  border-bottom: white 2px solid;
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 4px;
}

.ctlgitem{
  margin: 3%;
  font-size: 20px;
  text-align: center;
  letter-spacing: 2px;
}

.ctlgitem:hover{
  color:orange;
  cursor: pointer;
  font-weight: 700;
}

.selected{
  background-color: white;
  border-radius: 6px;
  color:rgb(43, 37, 37);
  font-weight: 700;
  margin-top: 6%;
  margin-bottom: 6%;
}

.selected:hover{
  color:rgb(43, 37, 37);
}

#good_post{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0%;
}

#banner_space{
  text-align: center;
}

#goodsearch{
  margin-left: 6%;
  margin-right: 2%;
  border-radius: 4px;
  border: 0px;
  color: gray;
}

#btn_search{
  width: 140px;
  border-radius: 4px;
  color: white;
  background-color: rgb(253, 188, 66);
  text-align: center;
  font-size: 19px;
  font-weight: 600;
}

#btn_search:hover{
  cursor: pointer;
  color: white;
  background-color: rgb(255, 166, 0);
  
}

#sorting{
  float: right;
  margin-bottom: 3%;
  font-size: 0.75rem;
  width: 48%;
}

#low{
  margin-right: 3%;
  margin-left: 3%;
}

.sort-way{
  cursor: pointer;
  color: steelblue;
  font-weight: 600;
}

.sort-item{
  width: 32%;
}

.sort-item:hover{
  cursor: pointer;
  color: orange;
}
