#part2, #part3, #part4{
    display: none;
}


.progress{
    margin:5%;
    margin-top: 5%;
    height: 30px;
}

.center{
    margin: 0%;
    margin-left: 2%;
    width: 95%;
}

#state{
    text-align: center;
    font-size: 40px;
    margin: 5%;
    margin-bottom: 0%;
}

.title-border{
    font-size: 32px;
    margin: 5%;
    margin-top: 0%;
    margin-right: 0%;
    margin-bottom: 2%;
    padding-bottom: 1%;
    border-bottom: gray 3px solid;
}

.title-border-2{
    font-size: 28px;
    margin: 8%;
    margin-top: 4%;
    margin-right: 3%;
    margin-bottom: 2%;
    padding-bottom: 1%;
    border-bottom: rgb(170, 170, 170) 1.5px solid;
}

#the-list{
    margin-bottom: 2%;
}

.list-item{
    margin-left: 5%;
    margin-top:3%;
    padding-bottom: 2.5%; 
    border-bottom: rgb(160, 171, 182) 1px solid;
}

.list-item2{
    margin-left: 12%;
    margin-right: 5%;
    margin-top:3%;
    padding-bottom: 2.5%; 
    border-bottom: rgb(160, 171, 182) 1px solid;
}

.item-btn{
    width: 10%;
    text-align: center;
}

.list-item-remove{
    width: 30%;
    border: 0px;
    background-color: tomato;
    color: white;
}

.list-item-img{
    width: 20%;
    text-align: center;
}

.img{
    width: 90%;
}

.list-item-name{
    width: 30%;
    text-align: center;
}

.list-item-price{
    width: 15%;
    text-align: center;
}

.list-item-amount{
    width:25%;
    margin-left: 8%;
    margin-right: 3%;
    text-align: center;
}

.amount-minus, .amount-plus{
    border: 0px;
    width: 17%;
    background-color: rgb(43, 37, 37);
    color: white;
}


.amount{
    width: 50%;
    margin-left: 8%;
    margin-right: 8%;
    background-color: gainsboro;
    border: 0%;
    text-align: center;
}

#counting{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 1%;
    margin-left: 72%;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 2px;
    color: tomato;
}

#name-number, #address{
    margin: 8%;
    margin-top: 4%;
    margin-right: 3%;
    margin-bottom: 2%;
}

#input-tit1, #input-tit12{
    width:6%;
    margin: 1%;
}

#input-tit2, #input-tit22{
    width:16%;
    margin: 1%;
    margin-left: 3%;
}

#input-tit3, #input-tit32{
    width:8%;
    margin: 1%;
}

#input-tit4{
    width:15%;
    margin: 1%;
}

#buyer-name, #buyer-name2{
    width: 30%;
}

#buyer-phone, #buyer-phone2{
    width: 42%;
}

#buyer-add, #buyer-add2{
    width: 90%;
}

#Checkout_way{
    width: 30%;
}

#btn_finish1{
    background-color: orange;
    margin-left: 2%;
    color: white;
}

#btn_finish2, #btn_back1, #btn_back2, #btn_goback{
    background-color: orangered;
    margin-left: 2%;
    color: white;
    border: 0%;
}

#btn_finish3{
    background-color: rgb(43, 37, 37);
    margin-left: 2%;
    color: white;
}

#btn_finish1:hover, #btn_finish2:hover, #btn_finish3:hover, #back1:hover, #back2:hover, #btn_goback:hover{
    opacity: 0.7;
}