html,
body {
  height: 100%;
}

.singn-main {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
}

.form-signin {
  width: 80%;
  max-width: 500px;
  padding: 35px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#custom-alert {
  top: 10px;
  position: fixed;
}

.signup-div{
  margin-top: 10%;
}

#toSignUp{
  font-size: 24px;
  text-align: center;
  border-radius: 6px;
  background-color: rgb(180, 180, 24);
  padding-bottom: 2%;
  padding-top: 1%;
  color: white;
  letter-spacing: 4px;
  height: 48px;
}

#toSignUp:hover{
  cursor: pointer;
  background-color: rgb(150, 150, 1);
}

#btnLogin{
  font-size: 24px;
  text-align: center;
  border-radius: 6px;
  background-color: rgb(95, 95, 95);
  padding-bottom: 2%;
  padding-top: 1%;
  margin-bottom: 5%;
  color: white;
  letter-spacing: 4px;
  height: 48px;
}

#btnLogin:hover{
  cursor: pointer;
  background-color: rgb(58, 58, 56);
}

#btngoogle{
  font-size: 24px;
  text-align: center;
  border-radius: 6px;
  background-color: tomato;
  padding-bottom: 2%;
  padding-top: 1%;
  color: white;
  letter-spacing: 4px;
  height: 48px;
}

#btngoogle:hover{
  cursor: pointer;
  background-color: rgb(245, 68, 37);
}